<!-- Toolbar -->
<div class="toolbar" role="banner">
 
</div>

<div class="content" role="main">

<div class="container">

  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <h1 class="text-center">Variação de Ativos</h1>
    
      <div class="form-group">
        <input type="text" 
               class="form-control" 
               placeholder="Digite o codigo do ativo" 
               [(ngModel)]="this.ativo">
      </div>

      <br/>

      <app-btn-com-load
            [disabled]="this.ativo == undefined ||  this.ativo == ''"
            (clickEvent)="ConsultarVariacaoAtivo()"
            [loading]="loadingBtn"
            textIdle="Buscar"
            textLoad="Buscando...">
          </app-btn-com-load>
        <br/>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Dia</th>
              <th>Data</th>
              <th>Valor</th>
              <th>VariacaoDia</th>
              <th>VariacaoPrimeiraData</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let at of this.listVariacaoAtivos">
              <td>{{ at.dia }}</td>
              <td>{{ at.data | date:'dd/MM/yyyy' }}</td>
              <td>{{ at.valor }}</td>
              <td>{{ at.variacaoDia }}%</td>
              <td>{{ at.variacaoPrimeiraData }}%</td>
            </tr>
          </tbody>
        </table>


      </div>
    </div>
  </div>


  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <p class="text-muted"><p class="copyright text-muted small">
        ©2023 - Guide - Todos os direitos reservados.
    </div>
  </footer>

</div>

<router-outlet></router-outlet>
